version: '3.8'

services:
  # PHP-FPM Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    restart: unless-stopped
    volumes:
      - laravel-storage-production:/var/www/storage
      - laravel-public-production:/var/www/public
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - laravel-network
    depends_on:
      - mysql

  # Workspace Service (untuk artisan commands)
  workspace:
    build:
      context: .
      dockerfile: ./docker/workspace/workspace.dockerfile
    container_name: laravel-workspace
    restart: unless-stopped
    networks:
      - laravel-network
    depends_on:
      - mysql
    tty: true
    stdin_open: true

  # Nginx Service
  nginx:
    build:
      context: .
      dockerfile: ./docker/nginx/nginx.dockerfile
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - laravel-storage-production:/var/www/storage:ro
      - laravel-public-production:/var/www/public:ro
    networks:
      - laravel-network
    depends_on:
      - app

  # MySQL Service
  mysql:
    image: mysql:8.0
    container_name: laravel-mysql
    restart: unless-stopped
    environment:
       MYSQL_DATABASE: ${MYSQL_DATABASE}
       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
       MYSQL_USER: ${MYSQL_USER}
       MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge

volumes:
  laravel-storage-production:
  laravel-public-production:
  mysql-data:
    driver: local