@tailwind base;
@tailwind components;
@tailwind utilities;


#navbar {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

#navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

#navbar.show {
  transform: translateY(0);
  opacity: 1;
}